.menu-main {
  display: flex;
  align-items: center;
  background-color: #232F3E;
  height: 38px;
  white-space: nowrap;
  overflow: hidden;

  a,
  div {
    color: #fff;
    text-decoration: none;
    padding: 11px 15px;
    font-size: .8rem;
    font-weight: 500;

    &:hover {
      border: 1px solid #fff;
      border-radius: 4px;
    }
  }

  &__all {
    display: flex;
    align-items: center;
    font-weight: 700 !important;
    padding: 2px 10px !important;
    margin-left: 10px;

    &--icon {
      color: white;
      font-size: 1.9rem;
      display: flex;
      place-content: center;
    }
  }

  &__kindle,
  &__computing,
  &__prime,
  &__audible,
  &__books,
  &__home,
  &__gifts,
  &__electronics {
    color: #e9e9e9 !important;
    cursor: wait;

    &:hover {
      border: 0 !important;
    }
  }
}