@import '../../../../scss/_animations.scss';

.popover-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #00000075;
  z-index: 10;
  @include fadeIn(400ms);

  &__popover {
    z-index: 20;

    &:hover {
      background-color: #000;
    }
  }
}