@import '../../../../../../../scss/variables';

.logo {
  padding: 6px;
  padding-bottom: 3px;

  &__image {
    width: 120px;
  }

  &:hover {
    border: 1px solid #fff;
    border-radius: 2px;
    padding-left: 5px;
  }
}