@import '../../../../../../scss/variables';
@import '../../../../../../scss/animations';

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $headerHeigth;
  color: #fff;
  background-color: $bgPrimary;
  @include fadeIn(300ms);

  &__row-1,
  &__row-2,
  &__row-3 {
    display: flex;
    align-items: center;
  }

  &__row-1 {
    justify-content: space-evenly;
    width: 350px;
  }

  &__row-2 {
    width: 100%;
  }

  &__row-3 {
    width: 430px;
  }
}