@import '../../../../scss/mixins';
@import '../../../../scss/variables';
@import '../../../../scss/animations';

.cart {
  background-color: #00000010;
  padding-bottom: 40px;
  min-height: calc(100vh - 225px);

  @media(max-width: 815px) {
    min-height: calc(100vh - 185px);
  }

  h2 {
    margin: 0 auto;
    padding: 20px;
    padding-top: 30px;
    width: 90vw;
    max-width: 1200px;
  }

  &__component {
    width: 90vw;
    max-width: 1200px;
    margin: 20px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);

    &--message {
      text-align: center;
      padding: 20px;
      font-size: 1.1rem;
      font-weight: 500;
    }

    &--item {
      border-bottom: 1px solid #d6d6d6;
      @include fadeIn(250ms);

      &:last-child {
        border-bottom: 0;
      }

      &__product {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        margin: 0px auto;
        padding: 5px;

        &--image {
          width: 170px;
          display: flex;
          justify-content: center;
          
          img {
            max-height: 90px;
          }

          @media(max-width: 815px) {
            img {
              width: 100px;
              max-height: 90px;
              padding: 20px;
            }
          }
        }

        &--info {
          width: 100%;
          height: auto;
          padding: 10px;
          padding-top: 0;
          margin-top: 0;

          &__title-price {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h4 {
              margin: 0;
              padding: 10px 0;
              padding-right: 10px;
              max-width: 850px;
              font-weight: 400;
              font-size: 1.1rem;
            }

            div {
              font-size: 1.2rem;
              font-weight: 700;
              padding-right: 10px;
              white-space: nowrap;
            }
          }

          &__stock {

            &--dont-have-stock,
            &--have-stock {
              padding-bottom: 7px;
              font-size: 0.8rem;
            }

            &--dont-have-stock {
              color: $colorRed;
            }

            &--have-stock {
              color: green;
            }
          }

          &__size {
            font-size: 0.8rem;
            padding-bottom: 7px;
          }

          &__color {
            font-size: 0.8rem;
            padding-bottom: 7px;
          }

          &__bottom-group {
            display: flex;

            form {
              display: flex;
              align-items: center;

              label {
                font-size: 0.8rem;
                font-weight: 700;
                border-radius: 5px;
                padding-right: 0;

                input {
                  border: 0;
                  width: 40px;
                  text-align: center;
                  outline: none;
                  padding-right: 3px;
                }

              }

              button {
                border-radius: 5px;
                padding: 2px;
                margin-right: 5px;
                @include buttonPrimary();
              }
            }

            button {
              color: $redWarning;
              background-color: transparent;
              border: 0;
              padding: 1px;

              &:hover {
                border-bottom: 1px solid $redWarning;
              }
            }
          }
        }
      }
    }
  }

  &__result {
    display: flex;
    justify-content: flex-end;
    width: 90vw;
    max-width: 1200px;
    margin: 0 auto;
    @include fadeIn(350ms);

    &--box {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 200px;
      height: auto;
      margin: 20px 0;
      margin-bottom: 30px;
      padding: 5px 10px;
      padding-bottom: 0px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);

      p {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin: 10px 0;
        padding: 5px 0;
        margin-top: 0;
      }

      &__total-price {
        padding-top: 10px !important;
        border-top: 1px solid #000;

        b {
          font-size: 1.2rem;
        }
      }

      // Checkout
      a {
        @include buttonPrimary();
        margin: 15px auto;
        text-decoration: none;
        text-align: center;
      }
    }
  }

  &__button-go-back {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    button {
      @include buttonPrimary();
      text-decoration: none;
      width: 150px;
      font-size: 1.1rem;
      font-weight: 400;
      text-align: center;
    }
  }
}

.cart-empty {
  height: 70vh;
  display: grid;
  place-content: center;
}