.shopping-cart {
  display: flex;
  padding: 5px;
  cursor: pointer;

  span {
    position: absolute;
    top: 11px;
    right: 63px;
    color: #F08804;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0 !important;
  }

  img {
    width: 93px;
    border-radius: 4px;
  }

  &:hover {
    border: 1px solid #fff;
    border-radius: 2px;
    padding-left: 3px;
  }
}