.shopping-cart {
  display: flex;
  position: absolute;
  right: 6px;
  cursor: pointer;

  span {
    position: relative;
    top: 3px;
    left: 34px;
    color: #F08804;
    font-weight: bold;
    font-size: 1.1rem;
  }

  img {
    width: 90px;
    border-radius: 4px;
  }

  &:hover {
    border: 1px solid #fff;
    border-radius: 4px;
  }
}