@import '../../../../../scss/animations';

.header-admin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  background-color: #ff990085;
  box-shadow: 2px 0px 20px 9px #d7d7d7;

  &__logo {
    @include fadeIn();
    width: 230px;
  }

  &__prime {
    width: 160px;
  }
}