@import '../../../../../scss/_animations.scss';

.popover {
  position: absolute;
  top: 45px;
  right: 180px;
  background-color: #FFFFFF;
  width: 300px;
  height: 300px;
  border: 1px solid #000;
  border-radius: 4px;
  @include fadeIn(400ms);

  &:hover {
    z-index: 999999;
  }
}
