@import './variables';
@import './animations';

@mixin titleH1() {
  color: $colorSecondary;
  text-align: center;
  margin: 0;
  padding: 30px 0;
}

@mixin buttonPrimary($color: #f9d16c, $colorHover: #F1C75D) {
  width: 100px;
  color: #000;
  background-color: $color;
  border-radius: 3px;
  border: 1px solid #969696;
  padding: 6px;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: -1px 3px 24px -7px rgba(0, 0, 0, 0.271);
  cursor: pointer;

  &:hover {
    @include scale(1, 1.02, 300ms);
    
    background-color: $colorHover;
  }
}