$headerHeigth: 60px;
$footerHeigth: 80px;

$colorPrimary: #fff;
$colorSecondary: rgb(69, 69, 69);
$colorBlue: #0066C0;
$colorBlueSecondary: #007185;
$colorRed: #B12704;
$redWarning: #C40000;

$bgPrimary: #131921;
$bgSecondary: #FEBD69;