@import '../../../../scss/animations';

.sections {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  width: auto;
  max-width: 1500px;
  margin: 0 auto;
  padding-bottom: 40px;
  background-color: #E3E6E6;

  &__section {
    display: flex;
    flex-direction: column;
    height: 380px;
    margin: 20px;
    max-width: 295px;
    background-color: #fff;
    padding: 15px 20px;
    padding-top: 5px;
    @include fadeIn();

    img {
      width: 100%;
      height: 100%;
    }

    a {
      padding-top: 15px;
      text-decoration: none;
      font-size: .9rem;
      color: #007185;
    }

  }

  @media (max-width: 761px) {
    padding: 20px 0;
    padding-bottom: 50px;

    &__section {

      margin: 10px 5px;
      width: 170px;
      height: auto;
    }
  }
}