.select-country {
  margin-top: 4px;
  margin-right: 10px;

  img {
    border-radius: 5px;
    padding: 5px;
    width: 140px;

    &:hover {
      border: 1px solid #fff;
    }
  }
}

.select-country__modal {
  max-width: 400px;

  &--post-code {
    display: flex;
    justify-content: center;
    align-items: center;
    color: grey;
    padding-top: 10px;
    font-size: .8rem;

    p {
      padding: 5px;
    }
  }

  .ant-modal-content {
    padding: 0 !important;
    margin: 0;

    .ant-modal-header {
      background-color: #F0F2F2;
      padding: 20px;
    }

    .ant-modal-body {
      padding: 20px;

      p {
        color: rgb(74, 74, 74);
        font-size: .8rem;
      }

      button {
        background-color: #FFD814;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        font-size: .9rem;
        cursor: pointer;
      }
    }
  }
}