.header-wishlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #232F3E;
  box-shadow: 0px -1px 7px 0px rgba(0, 0, 0, 0.75);

  &__title {
    color: #fff;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
  }

  &__nav {
    display: flex;
    align-items: center;
    cursor: pointer;

    &--button {
      display: flex;
      justify-content: center;
      padding: 0px 10px;
      border: 0;
      color: #fff;
      background-color: #232F3E;
      font-size: 1rem;
      width: 110px;
      margin-top: -10px;
      padding-top: 8px;
      cursor: pointer;

      &__items-count {
        position: absolute;
        right: -7px;
        top: -7px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        color: #ffc271;
        background-color: #707070;
        width: 18px !important;
        height: 18px !important;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: 600;
        opacity: 0;
      }
    }

    a {
      text-decoration: none;
    }

    a.active {
      button {
        color: #000;
        background-color: #fff;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        position: relative;
        padding: 8px;
        padding-bottom: 21px;
        top: 12px !important
      }

      .header-wishlist__nav--button__items-count {
        opacity: 1;
      }
    }
  }
}